{% extends "FOSUserBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block stylesheets %}
	<link rel="stylesheet" type="text/css" href="{{ asset('css/signin.css') }}"/>
{% endblock %}

{% block fos_user_content %}
	{% if error %}
		<div class='alert fixed-top alert-danger auto-hide' role="alert">{{ 'Mauvais Login / Mot de passe'|trans }}</div>
	{% endif %}
	
	<div id="circle"></div>
	
	<div class="container">
	    <h2 class='text-center sign-in'>{{ 'Identifiez-vous'|trans }}</h2>
	
		<form action="{{ path("fos_user_security_check") }}" method="post" class="form-signin text-center">
		    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
		
		    <input type="text" id="username" name="_username" value="{{ last_username }}" required="required" class='form-control' placeholder="{{ 'Identifant'|trans }}"/>
		
		    <input type="password" id="password" name="_password" required="required" class='form-control' placeholder="{{ 'Mot de passe'|trans }}"/>
		
		    <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
		    <label for="remember_me">{{ 'Se souvenir de moi'|trans }}</label>
		
		    <input type="submit" id="_submit" name="_submit" class="btn btn-lg btn-primary btn-block" value="{{ 'Valider'|trans }}"/>
		</form>
	</div>
{% endblock fos_user_content %}
