<h1>Commentaires sur les repo de {{ gitUser }}</h1>

<table class="table table-striped">
	<tbody>
		{% for entity in entities %}
            <tr>
                <td class="col-lg-2">
                	<strong># {{ entity.id }}</strong><br/>
                	par {{ entity.author }}<br/>
                	le {{ entity.date | date('d/m/Y') }}<br/>
                	à {{ entity.date | date('H:i:s') }}
                </td>
                
                <td class="col-lg-10">
                	<strong>{{ entity.repository }}</strong><br/>
                	{{ entity.comment }}
                </td>
            </tr>
		{% endfor %}
    </tbody>
</table>